body	 {
  position: relative;
  width: 700px;
  margin: 0px auto;
  font-family: "Arial", sans-serif;
  color: #494949;
}

.header {
  display: block;
}

.title {
  text-transform: uppercase;
  display: inline-block;
  width: 500px;  
  vertical-align: top;
}

.subtitle {
  text-transform: uppercase;
  border-bottom: 0.5px solid #c34a5a;
  margin-top: 35px;
  color: #c34a5a;
}

.job {
  margin-top: 0px;
}

.avatar {
  position: relative;
  border-radius: 50%;
  left: 96px;
  margin-top: 10px;
}

.icon {
  width: 16px; 
  height: 16px; 
  display: inline-block;
  vertical-align: middle;	
}

.icon-phone {
  background-image: url(./images/phone.png);
}

.icon-email {
  background-image: url(./images/email.png);
}

.icon-github {
  background-image: url(./images/github.png);
}

.phone-link,
.mail-link,
.github-link {
  color: #494949;
  text-decoration: underline dotted; 
  display: inline-block;
  margin-bottom: 5px;
}

.code-example {
  color: #494949;
  display: inline-block;
  margin-bottom: 5px;
}

.experience td, 
.education td {
  padding-right: 40px;
  padding-bottom: 40px;
}
